*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

.center{
  max-width: 1100px;
  margin:0 auto;
  padding:0 2%;
  display: flex;
  flex-wrap: wrap;
}

header{
  background-color: white;
  padding: 20px 0;
  border-bottom: 1px solid rgb(200, 200, 200);
}

h2, h3{
  color: #16507b; 
  text-align: center;
}
.logo .sobre h2{
  font-weight: normal;
  font-size: 22px;
}

.menu{
  width: 80%;
  text-align: right;
}

.menu a{
  color: #16507b;
  font-size: 14px;
  text-decoration: none;
  margin-right: 20px;
  transition: 0.4s;
}
.menu a:hover{
  color: #F6B2BC
}

.menu .btnMenu{
  background-color: #F6B2BC;
  display: inline-block;
  padding: 8px 16px;
  color: white;
  border-radius: 6px;
}

.menu .btnMenu:hover{
  background-color: #16507b;
  color: white;
}


main{
  background-image:url("img/womanFit.png");
  min-height:600px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}

.mainBanner{
  width: 100%;
  margin-top: 150px;
}

.mainBanner h2{
  font-size: 25px;
  color: black;
}

section {
  padding: 15px;
}

.sobre {
  text-align: center;
}

#sobre {
  border-bottom: 1px solid #16507b;
  margin: 0 10px 150px 10px;
}

#textoSobre {
  padding: 50px;
}

.card_img {
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin: 25px;
}

.small_img {
  height: 100%;
  cursor: pointer;
  transition: all linear 0.4s;
}
.small_img:hover {
  transform: scale(1.1);
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#modal_img {
  width: 34vw;
  transform: scale(0);
  transition: all linear .3s;
}

.modal_active #modal_img {
  transform: scale(1);
}

.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  visibility: hidden;
  z-index: 1;
  opacity: 0;
  transition: visibility 0.8s linear, opacity 0.5s linear;
}

.modal_content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#btn_fechar {
  color: white;
  background-color: black;
  position: absolute;
  top: 10px;
  right: 30px;
  padding: 5px 30px;
  font-size: 20px;
  border: solid 1px white;
  cursor: pointer;
  transition: all ease-out .4s;
}
#btn_fechar:hover{
  background-color: red;
}

.modal_active{
  visibility: visible;
  opacity: 1;
}

.loja {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #16507b;
  margin: 0 10px 80px 10px;

}

.loja div {
  margin-bottom: 50px;

}

.loja .btnMenu{
  background-color: #F6B2BC;
  display: inline-block;
  padding: 8px 16px;
  color: white;
  border-radius: 6px;
  width: 300px;
  text-align: center;
  margin-bottom: 50px;
}

.loja .btnMenu:hover{
  background-color: #16507b;
  color: white;
}

.loja a{
  color: #16507b;
  font-size: 14px;
  text-decoration: none;
  margin-right: 20px;
  transition: 0.4s;
}
.loja a:hover{
  color: #F6B2BC
}

footer {
  /* background-color:#F5F5F5; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact_list{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

footer p {
  font-family: Verdana;
  text-align: center;
  font-size: 9px;
  margin-bottom: 10px;
}

footer div {
  margin-bottom:  50px;
}

